*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: unset;
  color: unset;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --color-light: #fff;
  --color-red: #e31b6d;

  --fs-big: 4.5rem;
  --fs-med: 2rem;
  --fs-sm: 1.5rem;
  --ff: "Raleway", sans-serif;
}
.title {
  color: #444649;
  font-size: var(--fs-big);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.title__border {
  border-bottom: 3px solid currentColor;
}
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: var(--color-light);
}
.header__text {
  font-size: var(--fs-med);
  text-align: center;
  padding: 0.5em;
  font-family: var(--ff);
  width: 90%;
  font-weight: 400;
}
.header__text--line {
  display: block;
}
.header__text--color {
  color: var(--color-red);
}
.header__button {
  margin-top: 1em;
  font-size: var(--fs-med);
  border: 2px solid #fff;
  padding: 0.5em;
  z-index: 1;
  position: relative;
}
.header__button a {
  margin-right: 0.25em;
}
.header__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--color-red);

  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.header__button:hover {
  cursor: pointer;
}
.header__button:hover::before {
  transform: scaleX(1);
}
@media (min-width: 400px) {
  .header__text {
    width: 100%;
    font-size: 3rem;
  }
}
@media (min-width: 600px) {
  .header__text {
    width: 100%;
    font-size: 4.5rem;
  }
  .header__button a {
    font-size: 3rem;
  }
}

.about {
  border-top: 5px solid rgb(0, 199, 205);
  font-family: var(--ff);
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}
.about__image {
  margin: 5rem 0;
  height: 250px;
  align-self: center;
}
.about__story {
  font-size: var(--fs-med);
  align-self: center;
}
.about__story + .about__story {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .about__story {
    font-size: 2.5rem;
    max-width: 800px;
  }
}

.skills {
  font-family: var(--ff);
  padding: 5rem 0;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.skills__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
.skills__card {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-bottom: 4rem;
}
.skills__icon {
  font-size: 10rem;
  color: rgb(0, 199, 205);
}
.skills__card p {
  font-size: 2.5rem;
  color: #616161;
  font-weight: 600;
}
@media (min-width: 550px) {
  .skills__card {
    flex-basis: 33%;
  }
}
@media (min-width: 900px) {
  .skills__cards {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .skills__card {
    flex-basis: 25%;
  }
}

.projects {
  font-family: var(--ff);
  padding: 5rem 0;
  background: #f5f5f5;
}
.projects__cards {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project {
  position: relative;
  background-color: #fff;
}
.project__image {
  height: 300px;
  opacity: 1;
  transition: all 0.5s ease;
}
.project__text,
.project__links {
  position: absolute;
  text-align: center;
  z-index: -1;
}
.project__text {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project__title {
  color: #1b242f;
  font-size: 2rem;
}
.project__stack {
  color: #e31b6d;
  font-size: 1.5rem;
}
.project__links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  left: 50%;
  bottom: 5rem;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project__link {
  color: #1b242f;
  border: 2px solid #e31b6d;
  padding: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.project__link:hover {
  background: #e31b6d;
  color: #fff;
}
.project:hover .project__text {
  opacity: 1;
  transform: translate(-50%, 5rem);
  z-index: 1;
}
.project:hover .project__links {
  opacity: 1;
  transform: translate(-50%, -5rem);
  z-index: 1;
}
.project:hover .project__image {
  opacity: 0;
}

.contact {
  font-family: var(--ff);
  padding: 5rem 0;
  background: #252934;
}
.contact__title {
  color: #fff;
}
.contact__prompt {
  color: #04c2c9;
  margin: 5rem 0 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b0b0b0;
}
.contact__name,
.contact__email,
.contact__message {
  outline: none;
  padding: 0.5rem 1rem;
  border: none;
  background: #1e242c;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  width: 80%;
}
.contact__name,
.contact__email {
  height: 3rem;
}
.contact__message {
  min-height: 150px;
}
.contact__submit {
  outline: none;
  background: unset;
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  transition: all 0.6s ease;
  cursor: pointer;
}
.contact__submit:hover {
  background: #04c2c9;
  border: 2px solid #04c2c9;
}
@media (min-width: 600px) {
  .contact__name,
  .contact__email,
  .contact__message {
    width: 50%;
  }
}
