*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: unset;
  color: unset;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
button {
  border: unset;
  outline: unset;
  background: unset;
}
:root {
  --color-light: #fff;
  --color-red: #e31b6d;

  --fs-big: 4.5rem;
  --fs-med: 2rem;
  --fs-sm: 1.5rem;
  --ff: "Raleway", sans-serif;
}
.title {
  color: #444649;
  font-size: var(--fs-big);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.title__border {
  border-bottom: 3px solid currentColor;
}
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: var(--color-light);
}
.header__text {
  font-size: var(--fs-med);
  text-align: center;
  padding: 0.5em;
  font-family: var(--ff);
  width: 90%;
  font-weight: 400;
}
.header__text--line {
  display: block;
}
.header__text--color {
  color: var(--color-red);
}
.header__button {
  margin-top: 1em;
  font-size: var(--fs-med);
  border: 2px solid #fff;
  padding: 0.5em;
  z-index: 1;
  position: relative;
}
.header__button a {
  margin-right: 0.25em;
}
.header__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--color-red);

  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.header__button:hover {
  cursor: pointer;
}
.header__button:hover::before {
  transform: scaleX(1);
}
@media (min-width: 400px) {
  .header__text {
    width: 100%;
    font-size: 3rem;
  }
}
@media (min-width: 600px) {
  .header__text {
    width: 100%;
    font-size: 4.5rem;
  }
  .header__button a {
    font-size: 3rem;
  }
}

.navigation {
  background: rgb(26, 35, 48);
  padding: 1rem;
  font-family: var(--ff);
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 3px solid rgb(0, 199, 205);
}
.navigation__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #fff;
}
.navigation__item__link {
  transition: all 0.2s ease-in-out;
}
.navigation__item__link:hover {
  color: var(--color-red);
}
.navigation__item__link:active {
  color: var(--color-red);
}
i.hamburger {
  color: #fff;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.hidden {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 600px) {
  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
  }
  .navigation__list {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(51, 51, 51);
    padding: 1rem;
  }
  .navigation__item {
    padding: 1rem;
  }
  i.hamburger {
    display: block;
  }
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.about {
  font-family: var(--ff);
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}
.about__image {
  margin: 5rem 0;
  height: 250px;
  align-self: center;
}
.about__story {
  font-size: var(--fs-med);
  align-self: center;
}
.about__story + .about__story {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .about__story {
    font-size: 2.5rem;
    max-width: 800px;
  }
}

.skills {
  font-family: var(--ff);
  padding: 5rem 0;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.skills__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
.skills__card {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-bottom: 4rem;
}
.skills__icon {
  font-size: 10rem;
  color: rgb(0, 199, 205);
}
.skills__card p {
  font-size: 2.5rem;
  color: #616161;
  font-weight: 600;
}
@media (min-width: 550px) {
  .skills__card {
    flex-basis: 33%;
  }
}
@media (min-width: 900px) {
  .skills__cards {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .skills__card {
    flex-basis: 25%;
  }
}

.projects {
  font-family: var(--ff);
  padding: 5rem 0;
  background: #f5f5f5;
}
.projects__cards {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project {
  position: relative;
  background-color: #fff;
}
.project__image {
  width: 100%;
  max-width: 300px;
  opacity: 1;
  transition: all 0.5s ease;
}
.project__text,
.project__links {
  position: absolute;
  text-align: center;
  z-index: -1;
}
.project__text {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project__title {
  color: #1b242f;
  font-size: 2rem;
}
.project__stack {
  color: #e31b6d;
  font-size: 1.5rem;
}
.project__links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  left: 50%;
  bottom: 5rem;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project__link {
  color: #1b242f;
  border: 2px solid #e31b6d;
  padding: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.project__link:hover {
  background: #e31b6d;
  color: #fff;
}
.project:hover .project__text {
  opacity: 1;
  transform: translate(-50%, 5rem);
  z-index: 1;
}
.project:hover .project__links {
  opacity: 1;
  transform: translate(-50%, -5rem);
  z-index: 1;
}
.project:hover .project__image {
  opacity: 0;
}

.contact {
  font-family: var(--ff);
  padding: 5rem 0;
  background: #252934;
  position: relative;
}
.contact__title {
  color: #fff;
}
.contact__prompt {
  color: #04c2c9;
  margin: 5rem 0 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b0b0b0;
}
.contact__name,
.contact__email,
.contact__message {
  outline: none;
  padding: 0.5rem 1rem;
  border: none;
  background: #1e242c;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  width: 80%;
  font-family: var(--ff);
}
.contact__name,
.contact__email {
  height: 3rem;
}
.contact__message {
  min-height: 150px;
  min-width: 50%;
  max-width: 100%;
}
.contact__submit {
  outline: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  transition: all 0.6s ease;
  cursor: pointer;
  position: relative;
}
.contact__submit:hover {
  background: #04c2c9;
  border: 2px solid #04c2c9;
}
.contact__confirmation {
  background: #04c986;
  color: #000;
  width: 80%;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  text-align: center;
  display: none;
}
@media (min-width: 600px) {
  .contact__name,
  .contact__email,
  .contact__message,
  .contact__confirmation {
    width: 50%;
  }
}

.footer {
  background: #1b242f;
  padding: 5rem;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__container {
  padding: 1.5rem;
  background: #262f38;
  margin: 0 1rem;
  transition: all 0.3s;
}
.icon__container:hover {
  background: #04c2c9;
  cursor: pointer;
}
.icon__container i {
  font-size: 2.5rem;
  color: #fff;
}
.footer__name {
  margin-top: 4rem;
  text-align: center;
  color: #8f9aa7;
  font-size: 1.5rem;
  font-family: var(--ff);
}
.footer__name span {
  color: var(--color-red);
}

.loader {
  display: none;
  color: rgb(0, 199, 205);
  right: 1rem;
  top: 50%;
  font-size: 2px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0) translateY(-50%);
}
.active {
  color: var(--color-red);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
